.h5_wrapper {
  background: #fff;
}
.h5_wrapper header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2.3rem;
  padding: 0 2%;
  line-height: 2.3rem;
  background: #2196F3;
  z-index: 99999;
}
.h5_wrapper header .img {
  position: absolute;
  top: 0.75rem;
  left: .75rem;
  width: 1.2rem;
  height: auto;
}
.h5_wrapper header .img .back {
  width: .45rem;
  height: .725rem;
}
.h5_wrapper header .mui-search {
  float: left;
  width: 75%;
  margin-left: 2.5rem;
}
.h5_wrapper header .mui-search input {
  margin-bottom: 0rem;
  height: 1.4rem;
  line-height: 1.4rem;
  background: #F4F4F4;
  border-radius: 0.8rem;
}
.h5_wrapper header .mui-search .mui-placeholder {
  line-height: 2.3rem;
  right: initial;
  left: 0.5rem;
  font-size: 12px;
}
.h5_wrapper header .mui-search.mui-active:before {
  left: 0.5rem;
}
.h5_wrapper header .mui-search:before {
  top: 35%;
}
.h5_wrapper .circle {
  width: 100%;
  padding: 0 .7rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h5_wrapper .hasData {
  flex-flow: column wrap;
  margin-top: 2rem;
}
.h5_wrapper .hasData .unit {
  width: 100%;
  height: 4.41rem;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h5_wrapper .hasData .unit .left {
  display: flex;
}
.h5_wrapper .hasData .unit .left .photo {
  width: 3.19rem;
  height: 3.19rem;
  border-radius: .234rem;
}
.h5_wrapper .hasData .unit .left .photo img {
  width: 3.19rem;
  height: 3.19rem;
  border-radius: .234rem;
}
.h5_wrapper .hasData .unit .left .txt {
  margin: .235rem 0 .845rem .656rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  line-height: 1;
}
.h5_wrapper .hasData .unit .left .txt .title {
  font-size: .75rem;
}
.h5_wrapper .hasData .unit .left .txt .note {
  font-size: .563rem;
}
.h5_wrapper .hasData .unit .right .focus {
  height: 1.2rem;
  margin-top: -1rem;
}
.h5_wrapper .hasData .unit .right .focus .mint-button {
  width: 2.82rem;
  height: 1.2rem;
  background: #e0e0e0;
  border-radius: .563rem;
  color: #fff;
  text-align: center;
  line-height: 1.2rem;
  padding: 0;
  margin: 0;
  border:0;
  font-size: .65rem
}
.h5_wrapper .hasData .unit .right .unfocus .mint-button {
  background: #ffa800;
  border:0;
}
