<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提货</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script src="../../js/flex_rem.js"></script>
    <link rel="stylesheet" href="../../css/mui.min.css">
    <link rel="stylesheet" href="../../css/mint.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../index/shop.css">
    <link rel="stylesheet" href="../spellGroup/spellGroup.css">
    <link rel="stylesheet" href="pickGoods.css">
    <style>
        .shop_recommend_list ul li .lis_img img[lazy=loading] {
            width: 40px !important;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="h5_wrapper" id="app" v-cloak>
    <!--header-->
    <header class="clearfix">
        <span class="mui-icon mui-icon-back color_fff" @click="goBack"></span>
        <span class="font_size_85 color_fff margin_center"  v-text="title"></span>
    </header>
    <!--推荐-->
    <div class="shop_recommend" style="margin-top:2.3rem">
        <div class="clearfix addressTop">
            <div class="addressTopNall clearfix Url_href" v-if="haveAddress" :href="'../address/address.html?orderId='+orderId+'&indexOr=1'">
                <span class="pull-left"><img src="../../images/positioning.png"/></span>
                <span class="pull-left color_3">添加收货地址</span>
                <span class="pull-right mui-icon mui-icon-forward"></span>
            </div>
            <div class="clearfix" v-if="!haveAddress" @click="toChooseAddress">
                <div class="addressTopNall clearfix color_3 flex" style="padding-bottom:0;display: flex;">
                    <div class="pull-left" style="padding-left:8%;flex: 1">收货人：{{address.trueName}}</div>
                    <span class="pull-right" style="padding-right:5%;flex:1">{{address.mobPhone}}</span>
                </div>
                <div class="clearfix addressTopNall" >
                    <div class="pull-left" style="width:.9rem;height:.9rem;"><img src="../../images/positioning.png"/></div>
                    <div class="pull-left clearfix" style="width:90%;padding-left:.5rem;display: flex;">
                        <div class="color_9 left clearfix pull-left" style="flex:0.8">
                            收货地址：
                            
                        </div>
                        <div style="flex:2;word-break: break-all; word-wrap:break-word">
                            <a style="color:#ffa800" v-if="address.isDefault == 1">[默认]</a>                            {{address.proviceName+address.cityName+address.areaName + address.address}}
                        </div>
                    </div>
                    <span class="pull-right mui-icon mui-icon-forward" ></span>
                    
                    
                </div>
            </div>
        </div>
        <div class="shopList clearfix" >
            <ul class="clearfix " style="background:#f0f0f0">
                <li>
                    <div class="listImgAndName">
                        <div class="listImg">
                            <img :src="list.imageShowUrl"/>
                        </div>
                        <div class="listName">
                            <div class="color_3 fzs-ellipsis" style="letter-spacing: 1px;">{{list.goodsName}}</div>
                            <div class="color_9" style="padding-top:0.75rem">{{list.specValue | fzsAction}}</div>
                            <div class="color_9 list_num">x{{list.goodsNum}}</div>
                            <div class="color_red list_price">{{list.goodsPrice}}<em>积分</em></div>
                        </div>
                    </div>
                    
                </li>
            </ul>
        </div>

    </div>
        <button class="font_size_85 color_fff" @click="pickGoods">确认提货</button>
    
</div>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/mui.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/mint.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/app.js"></script>
<script>
    var Vm=new Vue({
        el:'#app',
        data:{
            title:"提货",
            haveAddress:true,
            list:{},
            address:{},
            listQuery:{
                pageSize:10,
                pageId:1,
            },
            addressId:'',
            orderId:'',
            text:"提货成功！"

            
        },
        created: function () {

        },
       
        methods:{ 
            goBack:function(){ 
                //androidAndIos()      
                _g.goBack()         
                // if(_g.GetqueryUrl("count")){
                //     window.location.href="../shopKu/shopKu.html"
                // }else{
                //      _g.goBack();
                // }

            },
            toChooseAddress:function(){                
                var u = navigator.userAgent, app = navigator.appVersion;
                var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
                var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                if (isAndroid) {
                   //这个是安卓操作系统
                   _g.goBack();
                }
                if (isIOS) {
            　　　　//这个是ios操作系统
                    _g.goNextControllerWithDeleteLastController()
                }

                var that = this;
                if(_g.GetqueryUrl('count')){
                    window.location.href="../address/addressList.html?count="+_g.GetqueryUrl('count');
                }else{
                    window.location.href="../address/addressList.html";
                }
                
            },
            //获取地址信息
            getAddress:function(){
                var that = this ;
                if(_g.GetqueryUrl("id")){
                    _g.ajax("/app/memberAddress/getMemberAddressById",{addressId:_g.GetqueryUrl("id")},function(res){
                        console.log(res)
                        if(res.state == true){
                            that.haveAddress = false
                            that.address = res.data
                            that.addressId=res.data.id
                            _g.goNextControllerWithDeleteLastController();
                        }else{
                            _g.ajax("/app/memberAddress/getMemberAddressList",that.listQuery,function(res){
                                console.log(res)
                                if(res.state == true){
                                    that.haveAddress = false
                                    for(var i=0;i<res.data.length;i++){
                                        if(res.data[i].isDefault == "1"){
                                            that.address = res.data[i];
                                            that.addressId = res.data[i].id
                                        }else{
                                             that.address=res.data[0]
                                             that.addressId = res.data[0].id
                                        }
                                    }
                                }
                            })
                        }
                    })
                }else{
                    _g.ajax("/app/memberAddress/getMemberAddressList",that.listQuery,function(res){
                        if(res.state == true){
                            that.haveAddress = false
                            for(var i=0;i<res.data.length;i++){
                                if(res.data[i].isDefault == "1"){
                                    that.address = res.data[i];
                                    that.addressId = res.data[i].id
                                }else{
                                     that.address=res.data[0]
                                     that.addressId = res.data[0].id
                                }
                            }
                        }else{
                            that.haveAddress=true
                        }
                    })

                }
                // 
            },
            //选择地址
            pickGoods:function(){
                var that = this;
                if(!that.haveAddress){
                    that.$messagebox.confirm("是否确认提货？","提示").then(function(action){
                        that.$indicator.open({
                            text:'请稍等~',
                            spinnerType: 'fading-circle'
                        });
                        setTimeout(function(){
                            _g.ajax("/app/orderSubmit/pickUpGoods",{orderId:that.orderId,addressId:that.addressId},function(res){
                                console.log(res)
                                if(res.state == true){
                                    that.$toast("提货成功")
                                    setTimeout(function(){
                                            _g.goBack()
                                        // if(_g.GetqueryUrl("count")){
                                        //     window.location.href="../shopKu/shopKu.html"
                                        // }else{
                                        //     //window.location.href="../shopKu/shopku.html?type=8";
                                        //     _g.goBack()
                                        // }
                                        
                                    },1000)
                                }else{
                                    mui.toast(res.msg)
                                }
                            })
                        },3000)
                    }).catch(function(action){

                    })
                }else{
                    that.$toast({
                        message:"收货地址为空",
                        position:"bottom"
                    })
                }
                
                

            },
             EncodeURI:function(name){    //中文转义
                return encodeURI(encodeURI(name))
            },

            //获取本地存储
            getlocalVal:function(){
                var that = this;
                _g.ajax("/app/orderSubmit/getOrderDetail",{orderId:that.orderId},function(res){
                    console.log(res)
                    if(res.state == true){
                        that.list = res.data
                    }
                })
            }

        },
        mounted: function () {
            //this.ajaxList()
            this.orderId = localStorage.getItem("orderId")
            this.getAddress()
            this.getlocalVal()
            //返回页面刷新
            if(window.Hybid!== undefined && window.Hybid!==''){
                window.Hybid.judgeHasFunction('getShopfunction')
            }
            

        },
        filters:{
            fzsAction:function(val){
                if(val != undefined){
                     if(val.length>10){
                        return val.substring(0,10)+"..."
                    }else{
                        return val
                    }
                }
               
            }
        }
        

    })
 function getShopfunction(){
        Vm.getAddress();
    }
</script>
</body>
</html>