<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择银行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script src="../../js/flex_rem.js"></script>
    <link rel="stylesheet" href="../../css/mui.min.css">
    <link rel="stylesheet" href="../../css/mint.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="intnext.css">
</head>
<body>
<div class="h5_wrapper" id="app" v-cloak style="height: 100%">
    <!--头部-->
    <mt-header title="选择银行" fixed >
        <span  slot="left">
            <mt-button icon="back" @click="goBack()"></mt-button>
        </span>
    </mt-header>
    <div class="bk_content">
        <mt-radio
                title=""
                class="clearfix"
                v-model="bankCode"
                :options="banklist">
        </mt-radio>
        <mt-radio
                title=""
                class="clearfix"
                v-model="value"
                :options="twoList"
                class="tworadio"
                >
        </mt-radio>
    </div>
    <div style="height: 3rem;width: 100%"></div>
    <footer>
        <mt-button type="primary" @click="bankSure">确定</mt-button>
    </footer>
    <form :action="bankAction" id="formBank" method="post">
        <input type="hidden" :value="pGateWayReq" name="pGateWayReq"/>
    </form>
</div>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/mui.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/mint.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/app.js"></script>
<script>
    var Vm=new Vue({
        el:'#app',
        data:{
            bankCode:null,
            banklist:[],
            value:null,
            twoList:[{
                value:'01',
                label:'借记卡'
            },{
                value:'02',
                label:'信用卡'
            }],
            amount:0,
            pGateWayReq:'',
            bankAction:''
        },
        created: function () {

        },
        methods:{
            goBack: function () {
                _g.goBack()
            },
            bankList: function () {
                var that=this;
                _g.ajax('/app/user/reCharge',{},function(res){
                    if(res.state){
                        that.banklist=res.data.dataList
                    }
                    else{
                        that.$toast({
                            message:res.msg,
                            position: 'bottom',
                        })
                    }
                })
            },
            bankSure: function () {
                var that=this;
                if(!that.bankCode){
                    that.$toast({
                        message:'请选择银行',
                        position: 'bottom',
                    })
                    return false
                }
                if(!that.value){
                    that.$toast({
                        message:'请选择卡类型',
                        position: 'bottom',
                    })
                    return false
                }
                _g.ajax('/app/user/confirmReCharge',{
                    bankCode:that.bankCode.bankCode,
                    gatewayType:that.value,
                    amount:that.amount
                },function(res){
                    if(res.state){
                        that.pGateWayReq=res.data.pGateWayReq
                        that.bankAction=res.data.action
                        setTimeout(function () {
                            $('#formBank').submit()
                        },1000)
                    }
                    else{
                        that.$toast({
                            message:res.msg,
                            position: 'bottom',
                        })
                    }
                })
            }
        },
        mounted: function () {
            this.bankList()
            this.amount=_g.GetqueryUrl('moneyNumber')
        },

    })
</script>
</body>
</html>