.h5_wrapper {
  background: #fff;
}
.h5_wrapper .mint-header {
  background: #2196f3;
}
.h5_wrapper .mint-header .mint-header-title {
  font-weight: normal;
}
.h5_wrapper .circle {
  width: 100vw;
  padding: 0 .75rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h5_wrapper .hasData {
  flex-flow: column wrap;
  margin-top: 2rem;
  align-items: flex-start;
}
.h5_wrapper .hasData .topBtn {
  width: 1.55rem;
  height: .8rem;
  border-radius: .05rem;
  background: #ff5253;
  color: #fff;
  font-size: .6rem;
  text-align: center;
  line-height: .9rem;
  margin: .875rem 0 .5rem;
}
.h5_wrapper .hasData p {
  font-size: .75rem;
  color: #666;
  line-height: 1.375rem;
}
