<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关注与粉丝</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script src="../../js/flex_rem.js"></script>
    <link rel="stylesheet" href="../../css/mui.min.css">
    <link rel="stylesheet" href="../../css/mint.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="follow.css">
</head>
<body>
<div class="h5_wrapper" id="app" v-cloak style="height: 100%">
    <mt-header title="关注与粉丝" fixed>
        <span slot="left">
            <mt-button icon="back" @click="goBack"></mt-button>
        </span>
    </mt-header>
    <div class="circle hasData">
        <ul class="menu" style="position: fixed;top: 2.3rem;left: 0;right: 0;background: #fff;z-index: 999999;border-bottom:1px solid #e0e0e0">
            <li style="background: #fff" v-for="(item,index) in menu" class="pull-left" @click="choose(index)"><span :class="{active:item.isActive}">{{item.name}}</span></li>
        </ul>
        <div style="width: 100%;margin-top:2.5rem">
            <ul class="clearfix" v-infinite-scroll="loadMore"
                infinite-scroll-disabled="loading"
                infinite-scroll-immediate-check="false"
                infinite-scroll-distance="10">
                <!----------------->
                <div v-show="follow">
                    <div class="unit" v-for="(item,index) in dataListOne" >
                        <div class="left">
                            <div class="photo" @click="toUerPho1(item)">
                                <img v-if="item.userHeadPortrait" :src="item.userHeadPortrait" alt="" class="img-responsive">
                                <img v-else="item.userHeadPortrait" src="../../images/userALL.png" alt="" class="img-responsive">
                            </div>
                            <div class="txt">
                                <div class="title"  style="line-height: 1.5">{{item.userNickName}}</div>
                                <div class="note color_9"><span style="margin-right: .61rem" class="span1">{{item.memberAttention |jifen}}关注</span><span class="span2"><i>{{item.memberFans |jifen}}</i>粉丝</span>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="focus">
                                <mt-button pand="0" size="small" @click="cancel(item,index,$event)">已关注</mt-button>
                            </div>
                        </div>
                    </div>
                    <footer v-if="footershow1">
                        <p>没有更多了~</p>
                    </footer>
                </div>
                <!----------------->
                <div  v-show="!follow">
                    <div class="unit" v-for="(item,index) in dataList">
                        <div class="left">
                            <div class="photo" @click="toUerPho2(item)">
                                <img  v-if="item.userHeadPortrait" :src="item.userHeadPortrait" alt="" class="img-responsive">
                                <img v-else="item.userHeadPortrait" src="../../images/userALL.png" alt="" class="img-responsive">
                            </div>
                            <div class="txt">
                                <div class="title fzs-ellipsis" style="line-height: 1.5">{{item.userNickName}}</div>
                                <div class="note color_9"><span
                                        style="margin-right: .61rem" class="span1"><i>{{item.memberAttention}}</i>关注</span><span class="span2"><i>{{item.memberFans}}</i>粉丝</span>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div :class="{focus:item.isMutual,focuss:!item.isMutual}" >
                                <mt-button  size="small" @click="followD(item,index,$event)">
                                    <label class="focusf" pand="0" v-if="item.isMutual">互相关注</label>
                                    <label class="focusf" pand="1" v-else >关注</label>
                                </mt-button>
                            </div>
                        </div>
                    </div>
                    <footer v-if="footershow2">
                        <p>没有更多了~</p>
                    </footer>
                </div>
            </ul>
            <div v-if="loading" style="background: #fff;height: 40px">
                <mt-spinner type="double-bounce" color="#2196F3"></mt-spinner>
            </div>
        </div>
    </div>
    </div>
</div>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/mui.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/mint.js"></script>
<script src="../../js/public.js"></script>
<script src="../../js/app.js"></script>
<script>
    var Vm = new Vue({
        el: '#app',
        data: {
            menu: [{
                name: '关注',
                isActive: true,
            },
            {
                name: '粉丝',
                isActive: false
            }],
            pageSize:10,
            pageId: 1,
            pageIds:1,
            follow: true,
            loading:false,
            footershow1:false,
            footershow2:false,
            startLoaing:false,
            dataList: [],
            dataListOne:[],
            distant:70,
            allLoaded:false,
            autos:true,
            startLoaing2:false,
        },
        methods: {
            toUerPho1: function (item) {
                _g.jumpToSmallUserCard(item.memberId)
            },
            toUerPho2: function (item) {
                _g.jumpToSmallUserCard(item.fansId)
            },
            //粉丝
            followD:function(item,index,e){
                var that = this;
                var dataNum=null
                if($(e.target).find('.focusf').attr('pand')=='0'){
                    dataNum='02'
                }
                else{
                    dataNum='01'
                }
                var texr=parseInt($(e.target).parent().parent().siblings('.left').find('.span2 i').text())
                _g.ajax("/app/circleAttention/attentionUserH5",{attentionUserId:item.fansId,attentionEnable:dataNum},function(res){
                    if(res.state){
                        if(dataNum=='02'){
                            $(e.target).find('.focusf').attr('pand','1')
                            $(e.target).css({"background":'#FFA800'})
                            $(e.target).find('.focusf').text('关注')
                            $(e.target).parent().parent().siblings('.left').find('.span2 i').text(texr-1)
                            that.dataListOne=[]
                            that.pageIds=1
                            that.footershow1=false
                            that.initAttention()
                        }
                        else{
                            $(e.target).parent().parent().siblings('.left').find('.span2 i').text(texr+1)
                            $(e.target).find('.focusf').attr('pand','0')
                            $(e.target).css({"background":'#E0E0E0'})
                            $(e.target).find('.focusf').text('互相关注')
                            that.dataListOne=[]
                            that.pageIds=1
                            that.footershow1=false
                            that.initAttention()
                        }
                    }
                    else{
                        that.$toast({
                            message:res.msg,
                            position:"bottom"
                        })
                    }
                },true)
            },
            //关注
            cancel:function(item,index,e){
                var that = this;
                var dataNum=null
                if($(e.target).attr('pand')!=='0'){
                    dataNum='01'
                }
                else{
                    dataNum='02'
                }
                var texr=parseInt($(e.target).parent().parent().siblings('.left').find('.span2 i').text())
                _g.ajax("/app/circleAttention/attentionUserH5",{attentionUserId:item.memberId,attentionEnable:dataNum},function(res){
                    if(res.state){
                        if(dataNum=='02'){
                            $(e.target).attr('pand','1')
                            $(e.target).css({"background":'#FFA800'})
                            $(e.target).find('label').text('关注')
                            $(e.target).parent().parent().siblings('.left').find('.span2 i').text(texr-1)
                            that.dataList=[]
                            that.pageId=1
                            that.footershow2=false
                            that.initFuns()
                        }
                        else{
                            $(e.target).parent().parent().siblings('.left').find('.span2 i').text(texr+1)
                            $(e.target).attr('pand','0')
                            $(e.target).css({"background":'#E0E0E0'})
                            $(e.target).find('label').text('已关注')
                            that.dataList=[]
                            that.pageId=1
                            that.footershow2=false
                            that.initFuns()
                        }
                    }
                    else{
                        that.$toast({
                            message:res.msg,
                            position:"bottom"
                        })
                    }
                },true)
            },
            choose:function(index) {
                for (var i = 0; i < this.menu.length; i++) {
                    this.menu[i].isActive = false
                }
                this.menu[index].isActive = true
              //  this.footershow=false
                this.startLoaing=true
                this.loading = false;
                if(index ==0){
                    this.follow=true
                    if(this.footershow1){
                        this.startLoaing=false
                    }
                }
                else{
                    this.follow = false
                    if(this.footershow2){
                        this.startLoaing=false
                    }
                }
            },
            initAttention:function() {  //关注列表
                var that = this
                _g.ajax('/app/user/myAttentionList', {
                    pageId: that.pageIds,
                    pageSize: that.pageSize
                }, function (res) {
                    if(res.state){
                        if(res.data.dataList.length <that.pageSize){
                            that.dataListOne = that.dataListOne.concat(res.data.dataList)
                            that.loading = false;
                            that.startLoaing=false;
                            that.footershow1=true
                        }
                        else if(res.data.dataList.length == that.pageSize){
                            that.dataListOne = that.dataListOne.concat(res.data.dataList)
                            that.loading = false;
                            that.startLoaing=true
                        }
                        else{
                            that.footershow1=true
                            that.startLoaing=false
                            that.loading = false;
                        }
                    }
                    else{
                        that.loading = false;
                        that.startLoaing=true
                        that.$toast({
                            message:res.msg,
                            position: 'bottom',
                        })
                    }
                },true)
            },
            initFuns:function(){   //粉丝列表
                var that = this
                _g.ajax('/app/user/myFansList', {pageId: that.pageId, pageSize: that.pageSize}, function (res) {
                    if(res.state){
                        if(res.data.dataList.length <that.pageSize){
                            that.dataList = that.dataList.concat(res.data.dataList)
                            that.loading = false;
                            that.startLoaing2=false;
                            that.footershow2=true
                        }
                        else if(res.data.dataList.length ==that.pageSize){
                            that.dataList = that.dataList.concat(res.data.dataList)
                            that.loading = false;
                            that.startLoaing2=true;
                            that.footershow2=false
                        }
                        else{
                            that.footershow2=true
                            that.startLoaing2=false
                            that.loading = false;
                        }
                    }
                    else{
                        that.loading = false;
                        that.startLoaing2=true
                        that.$toast({
                            message:res.msg,
                            position: 'bottom',
                        })
                    }
                },true)
            },
            loadMore:function() {
                var that=this
                if(that.startLoaing && that.follow){
                    that.loading = true;
                    setTimeout(function () {
                        that.pageIds++
                        that.initAttention()
                    },500);
                }
                if(that.startLoaing2 && !that.follow){
                    that.loading = true;
                    setTimeout(function () {
                        that.pageId++
                        that.initFuns()
                    },500);
                }
            },
            goBack: function () {
                _g.goBack()
            }
        },
        mounted: function () {
            this.initAttention()
            this.initFuns()
            var tabs=_g.GetqueryUrl('type')
            if(tabs==1){
                this.follow=true
            }
            if(tabs==2){
                this.follow=false
                this.menu[tabs-1].isActive=true
                this.menu[tabs-2].isActive=false
            }

        },
        filters:{
            jifen: function (value) {
                if(parseFloat(value).toFixed(0).toString().length>5){
                    return (parseInt(value)/10000).toFixed(0)+'万'
                }
                return parseFloat(value).toFixed(0)
            }
        }
    })
</script>
</body>
</html>